<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/Index/index.css">

<div class="mainImageDiv">
    <img src="/Index/Dome-of-the-Rock-Jerusalem-Aerial-Photo-wide.jpg" alt="" class="mainImage">
    <div class="mainImageCenterDiv">
        <div class="mainImageText">ajsdlkjasdlk</div>
        <a href="/journey" class="mainImageButton">تصفح الرحل</a>
    </div>
</div>


<div class="imagesGrid">
    <div class="gridRow1">
        <a href="/" class="gridImgDiv img1">
            <img class="gridImg" src="/Index/dome-of-the-rock.jpg" alt="">
            <div class="innerGrid">
                <div class="innerGridText">Visit Jerusalem</div>
            </div>
        </a>
        <a href="/" class="gridImgDiv img2">
            <img class="gridImg" src="/Index/dome-of-the-rock.jpg" alt="">
            <div class="innerGrid">
                <div class="innerGridText">Visit Jerusalem</div>
            </div>
        </a>
    </div>
    <div class="gridRow2">
        <a href="/" class="gridImgDiv img3">
            <img class="gridImg" src="/Index/dome-of-the-rock.jpg" alt="">
            <div class="innerGrid">
                <div class="innerGridText">Visit Jerusalem</div>
            </div>
        </a>
        <a href="/" class="gridImgDiv img4">
            <img class="gridImg" src="/Index/dome-of-the-rock.jpg" alt="">
            <div class="innerGrid">
                <div class="innerGridText">Visit Jerusalem</div>
            </div>
        </a>
        <a href="/" class="gridImgDiv img5">
            <img class="gridImg" src="/Index/dome-of-the-rock.jpg" alt="">
            <div class="innerGrid">
                <div class="innerGridText">Visit Jerusalem</div>
            </div>
        </a>
    </div>
</div>


<!-- Home page -->
<!-- Recieved an array of all the journeys -->

<div class="Journeys">
    <% for(let i=journeys.length-1; i>=journeysLength; i--) { %>
        <a href="/journey/<%= journeys[i]._id %>" class="journeyCard">
            <img class="journeyImg" src="<%= journeys[i].images[0].url %>" alt="">
            <div class="journeyInfo">
                <div class="journeyName"><%= journeys[i].name %></div>
                <div class="journeyPriceLocation">
                    <div class="location"><i class="fa-solid fa-location-dot"></i> <%= journeys[i].routes[0].city %>, <%= journeys[i].routes[0].location %></div>
                    <div class="price"><%= journeys[i].price %> شيكل</div>
                </div>
            </div>
        </a>
    <% } %>
</div>

<div class="moreJourneysDiv">
    <a href="/journey" class="moreJourneys">عرض المزيد من الرحل</a>
</div>