<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/journey/index/journeyIndex.css">

<% if(results.length > 0) { %>
    <div class="journeyHeader">
        <h2>نتائج البحث</h2>
    </div>

    <div class="results"><%= results.length %>  نتيجة</div>

    <div class="journeys">
        <% for(let result of results) { %>
            <a href="/journey/<%= result._id %>" class="journeyCard">
                <img class="journeyImg" src="<%= result.images[0].url %>" alt="">
                <div class="journeyInfo">
                    <div class="journeyName"><%= result.name %></div>
                    <div class="journeyPriceLocation">
                        <div class="location"><i class="fa-solid fa-location-dot"></i> <%= result.routes[0].city %>, <%= result.routes[0].location %></div>
                        <div class="price"><%= result.price %> شيكل</div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>

<!-- No search result -->
<% } else { %>
    <div class="journeyHeader">
        <h1>لا يوجد نتائج</h1>
    </div>
<% } %> 