<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/Styles/stars.css"> 
<link rel="stylesheet" href="/profile/profile.css"> 

<!--! Your normal or host -->
<% if(currentUser && currentUser.authorization == 'normal' || currentUser && currentUser.authorization == 'coordinator') { %> 
    <section class="profileSection">
        <div class="profileHeaderText"><h1>اهلا وسهلا بك <%= user.name %> في صفحتك الشخصية</h1></div>
    </section>

<!--! Your an admin -->
<% } else if(currentUser && currentUser.authorization == 'admin') { %> 
    <section class="profileSection">
        <div class="profileHeaderText"><h1>صفحة الادمن</h1></div>
        <a class="approveLinks" href="/admin/approveregistration"><h1>الموافقة على طلبات التسجيل بالرحل</h1></a>
        <a class="approveLinks" href="/admin/approvecoordinator"><h1>الموافقة على المستضيفين</h1></a>
    </section>

<!--! Visited Someone page -->
<% } else { %> 
    <div class="profileHeaderText"><h1>صفحة <%= user.name %> الشخصية </h1></div>
<% } %> 

<!--! Visited a host page -->
<% if(user.authorization === 'coordinator') { %> 
    <div class="hoseReviewDiv">
        <a class="derankButton" href="/user/<%= user._id %>/review/add">قيم المستضيف</a>

        <div class="reviews">
            <h3 class="reviewHeader">تقييمات المستضيف</h3>
            <% user.reviews.forEach((review) => { %>
                <div class="review">
                    <h3><%= review.user.name %></h3>
                    <p class="starability-result" data-rating="<%= review.rate %>"></p>
                    <h5 class="my-3"><%= review.body %></h5>
                </div>
            <% }); %>
        </div>
    </div>
<% } %>

<!--! An admin visited a host page -->
<% if(currentUser && currentUser.authorization === 'admin' && user.authorization === 'coordinator') { %> 
    <form action="/admin/removecoordinator" method="post" class="Derank">
        <input type="hidden" name="id" value="<%= user._id %>">
        <button class="derankButton">تخفيض الرتبة</button>
    </form>
<% } %>