<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/journey/edit/editJourney.css">

<!-- value have to journey origin value, leave it if you don't want to change it -->
<form action="/journey/<%= journey._id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="editJourneyForm">
        <div class="editRight">
            <div class="editHeader">
                <h1>تعديل الرحلة</h1>
            </div>
            <div class="editName">
                <div class="form-placeholder namePlaceholder">اسم الرحلة</div>
                <input class="form-input nameFormInput" type="text" name="journey[name]" value="<%= journey.name %>" required oninvalid="this.setCustomValidity('عليك تعبئة هذا الحقل')">
            </div>
            <div class="editPrice">
                <div class="form-placeholder pricePlaceholder">السعر</div>
                <input class="form-input priceFormInput" type="number" name="journey[price]" value="<%= journey.price %>" min="0" max="10000" required oninvalid="this.setCustomValidity('عليك تعبئة هذا الحقل')">
                <div class="shekelSign"><i class="fa-solid fa-shekel-sign"></i></div>
            </div>
            <div class="editDate">
                <input class="form-input dateFormInput" type="date" name="journey[date]" value="<%= JSON.stringify(journey.date).slice(1,11) %>" required oninvalid="this.setCustomValidity('عليك تعبئة هذا الحقل')">
            </div>
            <div class="editDescriptionDiv">
                <h3>وصف الرحلة</h3>
                <textarea class="editDescription" name="journey[description]" rows='3' data-min-rows='3' placeholder="اكتب هنا"><%= journey.description %></textarea>
            </div>
        </div>
    
        <div class="editLeft">
            <!-- How many routes to add (work with the javascript in public/JS/editRoutes) -->
            <span id="routesNum" style="display: none;"><%= journey.routes.length %></span>
            <div class="routesNumber">
                <div class="routesNumberTest">عدد الوجهات:</div>
                <select id="routesSelect" class="Dropdown">
                    <option class="routeNumOption" value="1">1</option>
                    <option class="routeNumOption" value="2">2</option>
                    <option class="routeNumOption" value="3">3</option>
                    <option class="routeNumOption" value="4">4</option>
                    <option class="routeNumOption" value="5">5</option>
                </select>
            </div>
            <!-- Routes -->
            <% for(var i=0; i<5; i++) { %> 
                <!-- Rotues already in the journey -->
                <% if(journey.routes[i]) { %> 
                    <div class="routeInput">
                        <div class="routeName hideAndShow" id="<%= i %>"><div> الوجهة <%= i+1 %></div></div>
                        <span id="routesCityValue" style="display: none;"><%= journey.routes[i].city %></span>
                        <select class="city cityHasValue hideAndShow Dropdown" name="routes[<%= i %>][city]" id="<%= i %>">
                            <option value="القدس">القدس</option>
                            <option value="عكا">عكا</option>
                            <option value="نابلس">نابلس</option>
                            <option value="بيسان">بيسان</option>
                            <option value="صفد">صفد</option>
                            <option value="طبريا">طبريا</option>
                            <option value="الناصرة">الناصرة</option>
                            <option value="حيفا">حيفا</option>
                            <option value="نابلس">نابلس</option>
                            <option value="جنين">جنين</option>
                            <option value="طولكرم">طولكرم</option>
                            <option value="الخليل">الخليل</option>
                            <option value="رام الله والبيرة">رام الله والبيرة</option>
                            <option value="يافا">يافا</option>
                            <option value="الرملة">الرملة</option>
                            <option value="بئر السبع">بئر السبع</option>
                            <option value="بيت لحم">بيت لحم</option>
                            <option value="قلقيلية">قلقيلية</option>
                            <option value="الرملة">الرملة</option>
                            <option value="إسدود">إسدود</option>
                            <option value="عسقلان">عسقلان</option>
                            <option value="اللد">اللد</option>
                            <option value="طوباس">طوباس</option>
                            <option value="سلفيت">سلفيت</option>
                            <option value="غزة">غزة</option>
                            <option value="خان يونس">خان يونس</option>
                            <option value="رفح">رفح</option>
                            <option value="شمال غزة">شمال غزة</option>
                            <option value="دير البلح">دير البلح</option>
                        </select>
                        <input type="text" name="routes[<%= i %>][location]" id="<%= i %>" class="location hideAndShow" placeholder="الموقع" value="<%= journey.routes[i].location %>">
                    </div>
                <!-- New rotues -->
                <% } else { %>
                    <div class="routeInput">
                        <div class="routeName hideAndShow" id="<%= i %>"><div> الوجهة <%= i+1 %></div></div>
                        <select class="city cityHasValue hideAndShow Dropdown" name="routes[<%= i %>][city]" id="<%= i %>">
                            <option value="القدس">القدس</option>
                            <option value="عكا">عكا</option>
                            <option value="نابلس">نابلس</option>
                            <option value="بيسان">بيسان</option>
                            <option value="صفد">صفد</option>
                            <option value="طبريا">طبريا</option>
                            <option value="الناصرة">الناصرة</option>
                            <option value="حيفا">حيفا</option>
                            <option value="نابلس">نابلس</option>
                            <option value="جنين">جنين</option>
                            <option value="طولكرم">طولكرم</option>
                            <option value="الخليل">الخليل</option>
                            <option value="رام الله والبيرة">رام الله والبيرة</option>
                            <option value="يافا">يافا</option>
                            <option value="الرملة">الرملة</option>
                            <option value="بئر السبع">بئر السبع</option>
                            <option value="بيت لحم">بيت لحم</option>
                            <option value="قلقيلية">قلقيلية</option>
                            <option value="الرملة">الرملة</option>
                            <option value="إسدود">إسدود</option>
                            <option value="عسقلان">عسقلان</option>
                            <option value="اللد">اللد</option>
                            <option value="طوباس">طوباس</option>
                            <option value="سلفيت">سلفيت</option>
                            <option value="غزة">غزة</option>
                            <option value="خان يونس">خان يونس</option>
                            <option value="رفح">رفح</option>
                            <option value="شمال غزة">شمال غزة</option>
                            <option value="دير البلح">دير البلح</option>
                        </select>
                        <input type="text" name="routes[<%= i %>][location]" id="<%= i %>" class="location hideAndShow" placeholder="الموقع">
                    </div>
                <% } %> 
            <% } %>
            
            <div class="editButtonDiv">
                <button class="editButton">تعديل الرحلة</button> 
             </div>
        </div>
    </div>

    <div class="Buttomimages">
        <div class="newImages">
            <h2>اضافة صورة جديدة</h2>
            <button class="imageButton" type="button">اختر الصور من هنا</button>
            <input id="fileupload" type="file" multiple="multiple" name="image"/>
            <hr />
            <b>الصور المختارة</b>
            <br />
            <br />
            <div id="dvPreview">
            </div>
        </div>

        <h2>ازالة صور (اضغط على الصورة لتحديدها للازالة)</h2>
        <div class="oldImages">
            <% journey.images.forEach(function(img, i) {  %>
                <div class="oldImageDiv">
                    <div class="oldImageTrash"><i class="fa-solid fa-trash-can"></i></div>
                    <img src="<%= img.url %> " alt="" class="oldimage">
                    <input type="checkbox" id="image-<%=i%>" class="oldImageCheck" name="deleteImages[]" value="<%= img.filename %>">
                </div>
                
            <% }) %> 
        </div>
    </div>
</form>

<script type="text/javascript" src="/journey/edit/editJourney.js"></script>