<% layout('/layouts/boilerplate') %>

<!-- Journey details page -->
<!-- Recieved the journey info -->

<h1><%= journey.name %></h1>
<div class="row">
    <% for(let image of journey.images) { %> 
    <div class="col-4">
        <img src="<%= image.url %>" alt="" class="img-fluid mt-4">
    </div>
    <% } %>
</div>

<div class="">
    <span><%= journey.date %></span>
</div>

<div class="mt-4">
    <span><%= journey.description %></span>
</div>

<div class="my-5">
    <!-- Only authorized people can delete and edit the journey -->
    <% if(currentUser && journey.user.equals(currentUser._id)) { %> 
        <!-- Send a post request to "/journey/journey._id?_method=DELETE" to delete it -->
        <form action="/journey/<%= journey._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger">Delete</button>
        </form>

        <!-- Send a get request to "/journey/journey._id/edit" to edit it -->
        <a class="btn btn-warning" href="/journey/<%= journey._id %>/edit">Edit</a>
    <% } %>
</div>

<!-- Send a get request to "/journey/journey._id/register" to regsiter for the journey -->
<a class="btn btn-success" href="/journey/<%= journey._id %>/register ">Register</a>