<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/journey/index/journeyIndex.css">

<div class="journeyHeader">
    <h2>الرحل</h2>
</div>

<div class="journeyFilter">

</div>

<div class="results"><%= journeys.length %>  نتيجة</div>

<div class="journeys">
    <% for(journey of journeys) { %>
        <a href="/journey/<%= journey._id %>" class="journeyCard">
            <img class="journeyImg" src="<%= journey.images[0].url %>" alt="">
            <div class="journeyInfo">
                <div class="journeyName"><%= journey.name %></div>
                <div class="journeyPriceLocation">
                    <div class="location"><i class="fa-solid fa-location-dot"></i> <%= journey.routes[0].city %>, <%= journey.routes[0].location %></div>
                    <div class="price"><%= journey.price %> شيكل</div>
                </div>
            </div>
        </a>
    <% } %>
</div>