<% layout('/layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/journey/new/newJourney.css">

<form class="newJourneyForm" action="/journey" method="post" enctype="multipart/form-data">
    <div class="newRight">
        <div class="newHeader">
            <h1>رحلة جديدة</h1>
        </div>
        <div class="newName">
            <div class="form-placeholder namePlaceholder">اسم الرحلة</div>
            <input class="form-input nameFormInput" type="text" name="journey[name]">
        </div>
        <div class="newPrice">
            <div class="form-placeholder pricePlaceholder">السعر</div>
            <input class="form-input priceFormInput" type="number" name="journey[price]" min="0" max="10000">
            <div class="shekelSign"><i class="fa-solid fa-shekel-sign"></i></div>
        </div>
        <div class="newDate">
            <input class="form-input dateFormInput" type="date" name="journey[date]">
        </div>
        <div class="newImages">
            <input type="file" name="image" id="" multiple>
        </div>
        <div class="newDescriptionDiv">
            <h3>وصف الرحلة</h3>
            <textarea class="newDescription" name="journey[description]" rows='3' data-min-rows='3' placeholder="اكتب هنا"></textarea>
        </div>
    </div>
    
    <div class="newLeft">
        <div class="">
            number of routes: 
            <select id="routesNumber">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <!-- Routes -->
        <% for(var i=0; i<5; i++) { %> 
            <div class="">
                <input type="text" name="routes[<%= i %>][city]" id="<%= i %>" class="city" placeholder="city-<%= i+1 %>">
                <input type="text" name="routes[<%= i %>][location]" id="<%= i %>" class="location" placeholder="location-<%= i+1 %>">
            </div>
        <% } %> 
        
        <div class="newButtonDiv">
           <button class="newButton">انشاء الرحلة</button> 
        </div>
        
    </div>
</form>

<script type="text/javascript" src="/JS/newRoutes.js"></script>